/game/game/logs
/.idea
.DS_Store
__pycache__
env/
env-server/
/game/game/cheats/static/*
!/game/game/cheats/static/.keep
/game/game/cheats/recordings/*
!/game/game/cheats/recordings/.keep
/game/game/cheats/macros.json
