arcade >= 2.6.17
numpy >= 1.25.2
xxhash >= 3.3.0
dill == 0.3.7
google-generativeai == 0.1.0
maturin
flask
WTForms
Flask-AutoIndex
js2py >= 0.74
autoflake==2.2.1
black==23.9.1
isort==5.12.0
pydantic==2.4.2
